 
 
 
 


nav{
    background-color: rgb(243, 228, 180);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

ul{
   
    border-right: solid lightgrey 2px ;
    padding-left: 15px;
    padding-right: 15px;
}

#leftLink{
    border-left: solid  lightgrey 2px ;
}

#ueberschriftUnterseiten{

    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
}

address{
    text-align: center;
    font-size: x-large;
}



